*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 20px;    
} 
.inside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    height: 500px;
    width: 500px;
    position: relative;
}

.register
{
    
        background-color:  #696159;
        width: 500px;
        margin: 0px 0px 0px 490px;
        color: white;
        font-size: 18px;
        padding: 20px;
        border-radius: 10px;
}
#register{
    margin-left: 100px;
}
label{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
}
#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0px;
    padding: 7px;
}
#ph{
    width: 65px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#num{
    width: 230px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#sub{
    width: 200px;
    padding: 7px;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
    border: none;
    border-radius: 3px;
    outline: 0;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*animations*/
carousel {
  max-width: 100%;
  height: 250px;
  max-height: 250px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  display: block;
  
}
carousel img {
  max-width: 100%;
  width: 600px;
  height: auto;
  max-height: 250px;
  position: absolute;
  animation: slide 40s infinite;
  
  
}
carousel img:nth-child(2) {
margin-left: 50%;
}
carousel img:nth-child(3) {
margin-left: 100%;
}
carousel img:nth-child(4) {
margin-left: 150%;
}
carousel img:nth-child(5) {
margin-left: 200%;
}
carousel img:nth-child(6) {
margin-left: 250%;
}
carousel img:nth-child(7) {
margin-left: 300%;
}
carousel img:nth-child(8) {
margin-left: 350%;
}

.ipl-banner-right{
	display: inline-block;
	width: 284px;
	height: 430px;
	position: absolute;
	right: 40px;
	top: 130px;
	border-radius: 15px;
	-webkit-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	-moz-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
}

.image-width{
	height: 429px;
}

.slider-frame{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
}

.ipl-banner-left{
	display: inline-block;
	position: absolute;
	left: 40px;
	top: 130px;
	width: 284px;
	height: 430px;
	border-radius: 15px;
	-webkit-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	-moz-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
}

@keyframes slide-animation-up{
	0% {top: 0;}
	6% {top: -433px;}
	12% {top: -866px;}
	18% {top: -1299px;}
	24% {top: -1732px;}
	30% {top: -2165px;}
	36% {top: -2598px;}
	42% {top: -3031px;}
	50% {top: -3031px;}
	56% {top: -3031px;}
	62% {top: -2598px;}
	68% {top: -2165px;}
	74% {top: -1732px;}
	80% {top: -1299px;}
	86% {top: -866px;}
	92% {top: -433px;}
	100% {top: 0;}
}

@keyframes slide-animation-down{
	0% {bottom: 3031px;}
	6% {bottom: 2598px;}
	12% {bottom: 2165px;}
	18% {bottom: 1732px;}
	24% {bottom: 1299px;}
	30% {bottom: 866px;}
	36% {bottom: 433px;}
	42% {bottom: 0;}
	50% {bottom: 0;}
	56% {bottom: 0;}
	62% {bottom: 433px;}
	68% {bottom: 866px;}
	74% {bottom: 1299px;}
	80% {bottom: 1732px;}
	86% {bottom: 2165px;}
	92% {bottom: 2598px;}
	100% {bottom: 3031px;}
}

.slide-images-up{
	width: 100%;
	height: 100%;
	position: relative;
	animation-name: slide-animation-up;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}

.slide-images-down{
	width: 100%;
	height: 100%;
	position: relative;
	animation-name: slide-animation-down;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}

.image-container{
	position: relative;
	float: none;
}


@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}